# idea
.idea
.idea/
*.iml
.DS_Store
**/.DS_Store

#deploy data

data/*
!data/.gitkeep

# gitlab ci
.cache

#vscode
.vscode
.vscode/


# *.yaml
*.zip

logs/
*.log
.idea/dataSources.xml
.idea/gtodolist.iml
.idea/vcs.xml

.history/